*{
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
    scroll-behavior: smooth;
}

/*Premier container */
#first_container{
    background: url(img/background.jpg) fixed center/cover;
    height: 100vh;
}

.container_title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 45px;
}

#introduction_container{
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color:  white;
    font-size:  130%;
}

#introduction_container h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

#introduction_container h2{
    margin-top: 3px;
    margin-bottom: 3px;
}

#introduction_container h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

#introduction_container img{
    width: 3%;
    height : auto;
}

#introduction_container button{
    padding: 15px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    background-color: #4bc94b;
}

#introduction_container button:hover{
    cursor: pointer;
}

#rs_container{
    position: absolute;
    left: 50%;
    top: 130%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

#rs_container a i{
    margin-left: 20px;
    margin-right: 20px;
}

#rs_container a i:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

#rs_container a:nth-child(1){
    color: #1877f2;
}
#rs_container a:nth-child(2){
    color: #1da1f2;
}
#rs_container a:nth-child(3){
    color: #7289da;
}
#rs_container a:nth-child(4){
    color: #0a66c2;
}
#rs_container a:nth-child(5){
    color: #171515;
}

/*Second container*/
#second_container{
    background: url(img/project_background.png) fixed center/cover;
    height: inherit;
}

#second_container h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#project_container{
    display: flex;
    flex-direction: column;

}

.projet{
    background-color: #020303;
    margin-bottom: 20px;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    border-radius: 75px;
    color:  white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #000000;
    background-image: linear-gradient(221deg, #000000 0%, #373437 100%);
    -webkit-box-shadow: 12px 11px 15px 5px rgba(0,0,0,0.45); 
    box-shadow: 12px 11px 15px 5px rgba(0,0,0,0.45);

}

.projet .used_languages{
    margin-top: 20px;
    margin-bottom: 20px;
}

.projet .used_languages i{
    margin-top: 25px;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}


/*Third container*/
#third_container{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    height: auto;
    background: url(img/contact.jpg) fixed center/cover;

}

#form{
    display: block;
    margin-left: 6%;
    margin-top: 4%;
    margin-bottom: 4%;
    max-width: 40%;
    max-height: 78%;
    padding: 12px;
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #000000;
    background-image: linear-gradient(221deg, #000000 0%, #373437 100%);
    -webkit-box-shadow: 12px 11px 15px 5px rgba(0,0,0,0.45); 
    box-shadow: 12px 11px 15px 5px rgba(0,0,0,0.45);   
    flex-basis: 70%; 
    min-width: 350px;                   
}

form input{
    width: 70%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

form label{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px; 
    font-size: 20px;
    color: white;
}

form textarea{
    width: 80%;
}

form input[type="submit"]{
    margin-top: 20px;
    width: 200px;

}

/*Photo_container*/
#photo_container{
    flex-basis: 40%;
    width: 10%;
}

#photo_container h1{
    margin-top: 125px;
    font-size: 50px;
    text-align: center;
}

#photo_container img{
    height: auto;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



   













