*{
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', cursive;
}

/*Premier container */
#first_container{
    background: url(img/background.jpg) fixed center/cover;
    height: 100vh;
}

@keyframes slideDown{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: inherit;
}

nav ul li a:hover{
    color: #eb8436;
    transition: 1.0s;
}

.container_title{
    font-size: 50px;
}

#introduction_container{
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color:  white;
    font-size:  130%;
    animation: slideDown 3s;
}

#introduction_container h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

#introduction_container h2{
    margin-top: 3px;
    margin-bottom: 3px;
}

#introduction_container h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

#introduction_container img{
    width: 3%;
    height : auto;
}

#introduction_container button{
    padding: 15px;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    background-color: #4bc94b;
}

#introduction_container button:hover{
    cursor: pointer;
}

#rs_container{
    position: absolute;
    left: 50%;
    top: 130%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

#rs_container a i{
    margin-left: 20px;
    margin-right: 20px;
}

#rs_container a i:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

#rs_container a:nth-child(1){
    color: #1877f2;
}
#rs_container a:nth-child(2){
    color: #1da1f2;
}
#rs_container a:nth-child(3){
    color: #7289da;
}
#rs_container a:nth-child(4){
    color: #0a66c2;
}
#rs_container a:nth-child(5){
    color: #171515;
}

/*Second container*/
#second_container{
    background: url(img/project_background.png) fixed center/cover;
    height: inherit;
}

#second_container h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#project_container{
    display: flex;
    flex-direction: column;

}

.projet{
    background-color: #020303;
    margin-bottom: 20px;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
    border-radius: 75px;
    color:  white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.projet .used_languages{
    margin-top: 20px;
    margin-bottom: 20px;
}

.projet .used_languages i{
    margin-top: 25px;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.projet .used_languages i:hover{
    transform: translateY(-5px);
    transition: ease-in-out 0.5s;
}

/*Html*/











